body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header .header-container {
    padding: 8px 200px;
    margin-bottom: 64px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header a:hover {
    color: lightskyblue;
}

.header .hero {
    display: flex;
    justify-content: space-between;
}

.header .hero-content {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

.header .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header img {
    flex: 1;
    max-width: 300px;
    border-radius: 2px;
}

.header button {
    max-width: fit-content;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    padding: 8px 32px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 32px 250px 48px;
}

.main .main-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
}

.main .cards {
    display: flex;
    margin: 32px 0px;
}

.main .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.main .text {
    color: #1F2937;
    font-size: 12px;
    max-width: 100px;
    align-self: center;
    text-align: center;
}

.main img {
    max-width: 100px;
    max-height: 100px;
    align-self: center;
}

.quotes {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quotes .quotes-container {
    padding: 100px 350px;
    display: flex;
    flex-direction: column;
}

.quotes .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quotes .quote-origin {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
    padding-right: 16px;
}

.sign-up {
    padding: 64px 250px;
}

.sign-up .sign-up-container {
    background-color: #3882f6;
    padding: 32px 96px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.sign-up .sign-up-content {
    display: flex;
    flex-direction: column;
}

.sign-up .sign-up-title {
    font-size: 16px;
    font-weight: 600;
}

.sign-up .sign-up-info {
    font-size: 12px;
    font-weight: 100;
}

.sign-up button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    max-width: fit-content;
    font-weight: 600;
    padding: 8px 32px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-content {
    padding: 24px 0px;
}

