body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header .header-container {
    padding: 8px 200px;
    margin-bottom: 64px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header a:hover {
    color: lightskyblue;
}

.header .hero {
    display: flex;
    justify-content: space-between;
}

.header .hero-content {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

.header .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header img {
    flex: 1;
    max-width: 300px;
    border-radius: 2px;
}

.header button {
    max-width: fit-content;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    padding: 8px 32px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
}